@import "./mixin.scss";
@import "./common.scss";

h3{
  text-align: center;
}
.content-container{
  padding: 20px;
  margin-left: 180px;
  height: 100vh;
  overflow: auto;
  div,p{
    text-indent: 20px;
    line-height: 1.2;
    font-size: 18px;
  }
}

@for $i from 1 through 10 {
  .m--#{$i * 10} {
    margin-bottom: #{$i * 10} + px;
    margin-top: #{$i * 10} + px;
  }
}

.border-1-ccc{
  border-radius: 8px;
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;
  border: solid 1px #cccccc;
}
.cursor-pointer{
  cursor: pointer;
}

.demo-btns-group{
  .list-style {
    list-style: none;
    display: flex;
    background: #0c455e;
    color: white;
    padding: 0;
    flex-wrap: wrap;
    padding: 5px;
    border-radius: 4px;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 20px;
    li {
      padding: 5px;
      cursor: pointer;
      text-align: center;
      border-right: solid 1px white;
    }
    li.is-active {
      color: orangered;
    }
  }
}

@include custom-scroll-bar(8px);
